<%- include('partials/header'); -%>

<section class="container">
    <div class="title"><%= blog.title %></div>
    <div class="delete">
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
    <div class="msg">
        <p>
            <%= blog.content %>
        </p>
    </div>
    <div class="author">
        <p><%= blog.email %></p>
    </div>
</section>

<script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
        const endpoint = `/read/${trashcan.dataset.doc}`;

        fetch(endpoint, {
            method: 'DELETE'
        })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
    })
</script>

<%- include('partials/footer'); -%>

